.main {
  .wrapper {
    margin: auto;
    width: 80%;
  }

  .video {
    .video-container {
      background-color: #cdcdcd;
    }

    video {
      margin-bottom: 0;
      height: 93%;
      width: 100%;
    }

    .progress {
      height: 100%;
    }

    .video-volume {
      height: 100%;
      width: 70px;
      max-width: 80px;
    }
  }
}
