html,
body {
  height: 100%;
}

.header {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.main {
  flex: 1 1 auto;

  h1 {
    font-size: 2rem;
    font-weight: 100;
  }

  h2 {
    font-size: 1.2rem;
  }
}
