html {
  height: 100%;
  font-size: 1rem;
}

body {
  height: 100%;
}

.header {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.header,
.nav,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;

  h1 {
    font-size: 2rem;
    font-weight: 100;
  }

  h2 {
    font-size: 1.2rem;
  }
}

#font-increase-button, #font-increase-button-1 {
    font-size: 0.8rem;
}

#font-decrease-button, #font-decrease-button-1 {
  font-size: 0.6rem;
}
