html {
  height: 100%;
  font-size: 1rem;
}

body {
  height: 100%;

  div,
  p {
    color: #dfdfdf;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 100;
}

h2 {
  font-size: 1.2rem;
}

.header {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.header,
.nav {
  .font-increase-button {
    font-size: .8rem;
    // padding: .25rem;
  }

  .font-decrease-button {
    font-size: .6rem;
    // padding: .25rem;
  }
}

.header,
.nav,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}
